mylogs.log
Ignore/
*.CLASS
.metadata/
demo/.metadata/
demo/.settings/
demo/bin/
demo/.classpath
demo/.project
/springYoutube/SpringJPA/Hospital Management System/nbproject/private/
/Java Project/Hospital Management System/nbproject/private/
/Project/Billing management System/nbproject/private/
